<div class="p-4 grid justify-center gap-4 max-w-7xl mx-auto">
  <p class="text-center text-4xl md:text-6xl">Stratosheet</p>
  <p class="text-center lg:text-2xl">
    Stratosheet aims to bring users the familiarity of working with spreadsheets
    coupled with improved data quality and the power of integrating with online
    services.
  </p>
  <div class="grid gap-y-10">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-2">
      <div class="grid gap-y-2">
        <p class="text-xl lg:text-3xl">Validation</p>
        <p>
          Stratosheet sees your data as more than just text - it can represent
          numbers, dates, other users, and more. This allows you to fine-tune
          your data and validation.
        </p>
        <p>
          Spreadsheets offer little in terms of data validation. Simple data
          entry errors can lead to lost time and revenue. Ensure that your data
          is correct, complete, and consistent.
        </p>
      </div>
      <div class="flex justify-center">
        <img
          src="/assets/text_validation_mobile.png"
          alt="Text Validation Example"
          class="border-4 rounded"
        />
      </div>
      <div class="flex justify-center">
        <img
          src="/assets/decimal_validation_mobile.png"
          alt="Decimal Validation Example Example"
          class="border-4 rounded"
        />
      </div>
    </div>

    <mat-divider></mat-divider>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-2">
      <div class="grid gap-y-2">
        <p class="text-xl md:text-3xl">Integrations</p>
        <p>
          Tired of manually sending order updates every time you update your
          data? Wish you could be notified when someone changes something?
          Stratosheet can help with that.
        </p>
        <p>
          We offer a growing number of chat and email integrations to keep you
          informed.
        </p>
      </div>
      <div class="flex md:col-span-2 justify-center md:justify-end">
        <img
          src="/assets/automation_mobile.png"
          alt="Decimal Validation Example Example"
          class="border-4 rounded"
        />
      </div>
    </div>

    <mat-divider></mat-divider>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-2">
      <div class="grid gap-y-2">
        <p class="text-xl lg:text-3xl">Customization</p>
        <p>
          Stratosheet is designed to be flexible. You define everything about
          your data and how you view it.
        </p>
      </div>
      <div class="md:col-span-2 items-end">
        <img
          src="/assets/customizable_views.png"
          alt="Decimal Validation Example Example"
          class="border-4 rounded"
        />
      </div>
    </div>

    <mat-divider></mat-divider>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-2">
      <div class="grid gap-y-2">
        <p class="text-xl lg:text-3xl">Hierarchies</p>
        <p>Spreadsheets are flat. The real world isn't.</p>
        <p>
          Stratosheet allows you to reference data from one table from another.
          For example, your orders can reference your customers, and your
          customers can reference your salespeople.
        </p>
      </div>
      <div class="flex md:col-span-2 justify-center md:justify-end">
        <img
          src="/assets/reference_rows_mobile.png"
          alt="Decimal Validation Example Example"
          class="border-4 rounded"
        />
      </div>
    </div>
  </div>
</div>
