.bg-gradient {
  background-image: linear-gradient(
    to bottom,
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff,
    #ffffff,
    rgba(63, 135, 203, 0.1),
    rgba(63, 135, 203, 0.2),
    rgba(63, 135, 203, 0.3),
    rgba(63, 135, 203, 0.5)
  );
}
