@use "sass:map";
@use "@angular/material" as mat;
@use "/src/app/components/footer/footer-theme" as footer-theme;
@tailwind base;
@tailwind components;
@tailwind utilities;
@include mat.elevation-classes();
@include mat.app-background();

$light-primary-text: white;
$dark-primary-text: rgba(black, 0.87);

$mycopper-palette: (
  50: #dcac7f,
  100: #d8a16f,
  200: #d3975f,
  300: #cf8d4f,
  400: #ca823f,
  500: #b87333,
  600: #b06e30,
  700: #a0642c,
  800: #905a27,
  900: #805023,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $dark-primary-text,
    700: $dark-primary-text,
    800: $dark-primary-text,
    900: $light-primary-text,
  ),
);

$ucla-blue-palette: (
  50: #7fafdc,
  100: #6fa5d8,
  200: #5f9bd3,
  300: #4f91cf,
  400: #3f87ca,
  500: #3378b8,
  600: #3072b0,
  700: #2c68a0,
  800: #275e90,
  900: #235380,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
  ),
);

$fire-brick-palette: (
  50: #e44e5a,
  100: #e2364a,
  200: #df2a39,
  300: #d5202f,
  400: #c31d2b,
  500: #b11b27,
  600: #931621,
  700: #662a2a,
  800: #7c131b,
  900: #6a1017,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $light-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
  ),
);

$primary-color: mat.m2-define-palette($ucla-blue-palette);
$accent-color: mat.m2-define-palette($mycopper-palette);
$warn-color: mat.m2-define-palette($fire-brick-palette);

$my-typography: mat.m2-define-typography-config(
  $font-family: "Noto Sans",
);

// Define a light theme
$light-theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $primary-color,
      accent: $accent-color,
      warn: $warn-color,
    ),
    typography: $my-typography,
    density: 0,
  )
);

@include mat.all-component-themes($light-theme);
@include mat.all-component-typographies($my-typography);
@include footer-theme.theme($light-theme);

// Remove spinners from number inputs
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

html,
body {
  height: 100dvh;
  scrollbar-color: mat.m2-get-color-from-palette($primary-color, 50) #ccc;
  scrollbar-width: auto;

  ::-webkit-scrollbar {
    width: 14px;
    height: 14px;
  }

  ::-webkit-scrollbar-thumb {
    background: mat.m2-get-color-from-palette($primary-color, 50);
  }
}

fieldset {
  padding: 1rem;
  border: solid 1px mat.m2-get-color-from-palette($accent-color, 500);
  border-radius: 0.25rem;

  legend {
    color: mat.m2-get-color-from-palette($accent-color, 500);
  }
}

a {
  color: mat.m2-get-color-from-palette($primary-color, 50);
}

// An empty div to reserve space for a progress bar, so that content doesn't move around
.reserved-space {
  height: var(--mat-progress-bar-track-height, 4px);
}

.mat-mdc-row:hover .mat-mdc-cell {
  background-color: mat.m2-get-color-from-palette($primary-color, 100);
}

.small-icon-button {
  width: 24px !important;
  height: 24px !important;
  padding: 0px !important;
  display: inline-flex !important;
  align-items: center;
  justify-content: center;

  & > *[role="img"] {
    width: 16px;
    height: 16px;
    font-size: 16px;

    svg {
      width: 16px;
      height: 16px;
    }
  }

  .mat-mdc-button-touch-target {
    width: 24px !important;
    height: 24px !important;
  }
}

.light-accent-border {
  border-color: mat.m2-get-color-from-palette($accent-color, 500);
}
