<div class="p-4 grid justify-center gap-4 max-w-7xl mx-auto">
  <p class="text-center text-4xl md:text-7xl">Company</p>
  <p class="text-justify">
    In 2019, we had the idea to put the power of code in the hands of normal
    people.
  </p>
  <p class="text-justify">
    In 2023, we created a product to do just that, featuring a spreadsheet-like
    interface that people would be familiar with and powerful integrations and
    validation to let people go beyond the limitations of the traditional
    spreadsheet.
  </p>
  <p class="text-justify">Gracklesoft LLC was formed in Austin, TX in 2024.</p>
</div>
